<footer>
	<ul class="menu">
		<li>
			<a href="/haftungsausschluss">Haftungsausschluss</a>
		</li>
		<li>
			<a href="/datenschutz">Datenschutz</a>
		</li>
		<li>
			<a href="/impressum">Impressum</a>
		</li>
	</ul>        
	<div id="partner">
		<p>Unsere Marken:</p>
		<img src="/images/partner/bosch_sw.gif" />
		<img src="/images/partner/bm_sw.gif" />
		<img src="/images/partner/conway_sw.gif" />
		<img src="/images/partner/croozer_sw.gif" />
		<img src="/images/partner/greens_sw.gif" />
		<img src="/images/partner/kf_sw.gif" />
		<img src="/images/partner/kreidler_sw.gif" />
		<img src="/images/partner/prince_sw.gif" />
		<img src="/images/partner/puky_sw.gif" />
		<img src="/images/partner/rabeneick_sw.gif" />
		<img src="/images/partner/rheinfels_sw.gif" />
		<img src="/images/partner/schwalbe_sw.gif" />
		<img src="/images/partner/victoria_sw.gif" />
	</div>
</footer>