<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Uns gibt es nun seit über 90 Jahren. Gegründet wurde das Geschäft 1924 von Anna Boeljes. Wir bieten umfangreiche Dienstleistungen für alle Fahrräder und E-Bikes an, vom Einstellen der Bremsen bis zum Firmware-Update Ihrer E-Bikes." >

	<link rel="stylesheet" type="text/css" href="/css/variables.css?v=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/styles.css?v=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" type="text/css" />
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" type="text/javascript"></script>
	<script src="/js/main.js"></script>

</head>