<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Uns gibt es nun seit über 90 Jahren. Gegründet wurde das Geschäft 1924 von Anna Boeljes. Wir bieten umfangreiche Dienstleistungen für alle Fahrräder und E-Bikes an, vom Einstellen der Bremsen bis zum Firmware-Update Ihrer E-Bikes.">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/variables.css?v=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/styles.css?v=1.0" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/main.js"></script>

</head>