<nav id="leftmenu">
	<div id="sideinfo">
		<h1>Kontakt</h1>
		<table>
			<tbody>
				<tr>
					<td class="left">E-Mail:</td>
				</tr>
				<tr>
					<td class="right"><a href="mailto:vermietung@boeljes.de">vermietung<!-- x --><span style="display:none;">at</span>@<!-- y -->boeljes<!-- a --><span
						style="display:none;">dot</span>.<!-- b -->de</a>
					</td>
				</tr>
				<tr>
					<td class="left">Telefon:</td>
				</tr>
				<tr>
					<td class="right">(0151)&nbsp;26385496</td>
				</tr>
			</tbody>
		</table>
		<h1>Öffnungszeiten</h1>
		<table>
			<tbody>
				<tr>
					<td class="left">Nur nach Absprache</td>
				</tr>
				<tr>
					<td class="left"></td>
				</tr>
			</tbody>
		</table>
	</div>
</nav>