<nav id="leftmenu">
	<div id="sideinfo">
		<h1>Kontakt</h1>
		<table>
			<tbody>
				<tr>
					<td class="left">E-Mail:</td>
				</tr>
				<tr>
					<td class="right">&#118;&#101;&#114;&#109;&#105;&#101;&#116;&#117;&#110;&#103;
						<!-- x -->
						<span style="display:none;">&#97;&#116;</span>
						&#64;<!-- y -->
						<br/>&#98;&#111;&#101;&#108;&#106;&#101;&#115;
						<!-- a -->
						<span style="display:none;">&#100;&#111;&#116;</span>
						&#46;<!-- b -->&#100;&#101;
					</td>
				</tr>
				<tr>
					<td class="left">Telefon:</td>
				</tr>
				<tr>
					<td class="right">(0151)&nbsp;26385496</td>
				</tr>
			</tbody>
		</table>
		<h1>Öffnungszeiten</h1>
		<table>
			<tbody>
				<tr>
					<td class="left">Nur nach Absprache</td>
				</tr>
				<tr>
					<td class="left"></td>
				</tr>
			</tbody>
		</table>
	</div>
</nav>