<nav id="leftmenu">
	<ul class="menu">
		{% for item in site.data.navigation.toc %}
		<li class="{% if item.url == page.url %}active{% endif %}">
			<a href="{{ item.url }}">{{ item.title }}</a>
			{% assign all_url = item.subfolderitems | map: "url" %}
			{% if all_url.size > 0 and all_url contains page.url or item.url == page.url %}
			<ul>
				{% for entry in item.subfolderitems %}
				<li class="{% if entry.url == page.url %}active{% endif %}">
					<a href="{{ entry.url }}">{{ entry.page }}</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<div id="sideinfo">
		<h1>Öffnungszeiten</h1>
		<table>
			<tbody>
				<tr>
					<td class="left">Montag - Freitag</td>
				</tr>
				<tr>
					<td class="right">08.30 - 12.30 Uhr<br>+ 14.30 - 18.00 Uhr</td>
				</tr>
				<tr>
					<td class="left">Samstag &amp; Sonntag</td>
				</tr>
				<tr>
					<td class="right">Geschlossen</td>
				</tr>
			</tbody>
		</table>
		<h1>Kontakt</h1>
		<table>
			<tbody>
				<tr>
					<td class="left">Telefon:</td>
				</tr>
				<tr>
					<td class="right">(0 44 22) 13 94</td>
				</tr>
				<tr>
					<td class="left">E-Mail:</td>
				</tr>
				<tr>
					<td class="right">&#105;&#110;&#102;&#111;
						<!-- x -->
						<span style="display:none;">&#97;&#116;</span>
						&#64;<!-- y -->
						<br/>&#102;&#97;&#104;&#114;&#114;&#97;&#100;&#45;&#98;&#111;&#101;&#108;&#106;&#101;&#115;
						<!-- a -->
						<span style="display:none;">&#100;&#111;&#116;</span>
						&#46;<!-- b -->&#100;&#101;
					</td>
				</tr>
				<tr>
					<td class="left">Anschrift:</td>
				</tr>
				<tr>
					<td class="right">Hauptstr. 32<br>26452 Sande</td>
				</tr>
			</tbody>
		</table>
	</div>
</nav>