<div id="popup">
    <div id="popup-content">
        <div id="popup-content-close" title="Schließen">&times;</div>
        <p id="popup-content-title">E-Bikes auf Lager</p>
        <br>
        <p id="popup-content-details">
                Derzeit sind die folgenden Modelle auf Lager:
        </p>
        <br>
        <ul>
            <li>&nbsp;&#x2022; Gazelle E-Bike
                <ul style="margin-left: 20px;">
                    <li>- Bosch Performance Avignon C380</li>
                    <li>- Rahmenhöhe: 53cm & 57cm</li>
                    <li>- Farbe: pepple grey matt</li>
                    <li>- Preis: inkl. Akku für 4.499€</li>
                </ul>
            </li>
            <br/>
            <li>&nbsp;&#x2022; Gazelle E-Bike
                <ul style="margin-left: 20px;">
                    <li>- Bosch Active Line Plus Arroyo C 8 Elite HMB</li>
                    <li>- Rahmenhöhe: 53cm</li>
                    <li>- Farbe: black matt</li>
                    <li>- Preis: inkl. Akku für 3.499€</li>
                </ul>
            </li>
            <br/>
            <li>&nbsp;&#x2022; Victoria E-Bike
                <ul style="margin-left: 20px;">
                    <li>- Bosch Active Line Plus e-Trekking 7.5 400 W</li>
                    <li>- Rahmenhöhe: 51cm</li>
                    <li>- Farbe: jeans blue/white</li>
                    <li>- Preis: inkl. Akku für 2.650€</li>
                </ul>
            </li>
            <br/>
            <li>&nbsp;&#x2022; Victoria E-Bike
                <ul style="margin-left: 20px;">
                    <li>- Bosch Active Line Plus e-Trekking 5.10 500 W</li>
                    <li>- Größe: 26"</li>
                    <li>- Rahmenhöhe: 46cm</li>
                    <li>- Farbe: bright green matt/grey</li>
                    <li>- Preis: inkl. Akku für 2.599€</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
