<div id="popup">
    <div id="popup-content">
        <div id="popup-content-close" title="Schließen">&times;</div>
        <p id="popup-content-title">Gazelle E-Bikes auf Lager</p>
        <br>
        <p id="popup-content-details">
                Derzeit sind die folgenden Rahmenhöhen des Modells 
                <br>
                <a href="https://www.gazelle.de/arroyo-c7plus-hmb-elite" target="_blank"><u>Gazelle ARROYO C7+ HMB ELITE</u></a> auf Lager.
        </p>
        <br>
        <ul>
            <li>&nbsp;- Damen S(49)</li>
            <li>&nbsp;- Damen M(53)</li>
            <li>&nbsp;- Damen L(57)</li>
        </ul>
        <br>
        <p>inkl. 500Wh Akku für 3.199€</p>
    </div>
</div>