<table class="styled">
  <caption>Preisübersicht</caption>
  <thead>
    <tr>
      <th>Gegenstand</th>
      <th>Preis</th>
      <th>Einheit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>E-Bike</td>
      <td>30 €</td>
      <td>pro Tag</td>
    </tr>
    <tr>
      <td>E-Bike ab 2 Tage</td>
      <td>25 €</td>
      <td>pro Tag</td>
    </tr>
    <tr>
      <td>E-Bike ab 7 Tage</td>
      <td>20 €</td>
      <td>pro Tag</td>
    </tr>
    <tr>
      <td>Fahrrad</td>
      <td>10 €</td>
      <td>pro Tag</td>
    </tr>
    <tr>
      <td>Fahrrad 7 Tage</td>
      <td>50 €</td>
      <td>gesamt</td>
    </tr>
    <tr>
      <td>Fahrrad 14 Tage</td>
      <td>80 €</td>
      <td>gesamt</td>
    </tr>
    <tr>
      <td>E-Bike mit Kindersitz</td>
      <td>5 €</td>
      <td>zusätzlich pro Tag</td>
    </tr>
        <tr>
      <td>Fahrrad mit Kindersitz</td>
      <td>1 €</td>
      <td>zusätzlich pro Tag</td>
    </tr>
    <tr>
      <td>Kindersitz (einzeln)</td>
      <td>2 €</td>
      <td>pro Tag</td>
    </tr>
    <tr>
      <td>Montage des Kindersitzes<br>
        <small>an einem Fremdrad</small></td>
      <td>10 €</td>
      <td>einmalig</td>
    </tr>
    <tr>
      <td>Fahrradhelm</td>
      <td>1 €</td>
      <td>pro Tag</td>
    </tr>
    <tr>
      <td>KLICKfix Korb / Tasche</td>
      <td>5 €</td>
      <td>einmalig</td>
    </tr>
  </tbody>
</table>
<p>Hol- und Bringdienst wird nach Aufwand / Entfernung abgerechnet, maximal 3 Fahrräder pro Fahrt.<br>
Lieferung am Wochenende nach telefonischer Absprache möglich.</p>
<p>Stand 01.03.2024.<br />
Mit Erscheinen dieser Preisliste erlischt die Gültigkeit aller früheren Preislisten.</p>
