<!doctype html>

<html lang="de">
<head>
  <meta charset="utf-8">

  <title>Fahrrad- und E-Bike-Service Boeljes</title>
<link rel="stylesheet" type="text/css" href="css/variables.css?v=1.0">
  <link rel="stylesheet" type="text/css" href="css/styles.css?v=1.0">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" type="text/css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" type="text/css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" type="text/javascript"></script>
  <script src="js/main.js"></script>

</head>

<body>
<div id="main">
<header><img id="logo" src="images/logo.png" alt="Boeljes Logo" /></header>
<nav id="top">
			<section id="topmenu">
				<ul class="menu"><li><a href="kontakt">Kontakt &amp; Öffnungszeiten</a></li><li><a href="pages/partner.html">Partner</a></li></ul>			</section>
		</nav>
<nav id="leftmenu">
			<ul class="menu">
				<li class="active collapsible-trigger">
					<a href="/">Boeljes</a>
					<ul class="collapsible">
						<li>
							<a href="ueberuns">Über uns</a>
						</li>
						<li>
							<a href="pages/sb-leistungen.html">SB-Leistungen</a>
						</li>
						<li>
							<a href="pages/routen.html">Routen</a>
						</li>
						<li>
							<a href="pages/wertgarantie.html">Wertgarantie</a>
						</li>
						<li>
							<a href="pages/jobrad.html">JobRad</a>
						</li>
						<li>
							<a href="pages/bikeleasing.html">Bikeleasing</a>
						</li>
					</ul>
				</li>
				<li class="collapsible-trigger">
					<a href="pages/e-bikes.html">E-Bike Service</a>
					<ul class="collapsible hidden">
						<li>
							<a href="pages/inspektionen_e-bike.html">Inspektionen</a>
						</li>
						<li>
							<a href="pages/putzservice.html">Putzservice</a>
						</li>
						<li>
							<a href="pages/e-rad-service.html">E-Rad-Service</a>
						</li>
						<li>
							<a href="pages/nabenpflege.html">Nabenpflege</a>
						</li>
						<li>
							<a href="pages/zertifizierung.html">Zertifizierung</a>
						</li>
					</ul>
				</li>
				<li class="collapsible-trigger">
					<a href="pages/fahrraeder.html">Fahrrad Service</a>
					<ul class="collapsible hidden">
						<li>
							<a href="pages/inspektionen.html">Inspektionen</a>
						</li>
						<li>
							<a href="pages/putzservice.html">Putzservice</a>
						</li>
						<li>
							<a href="pages/nabenpflege.html">Nabenpflege</a>
						</li>
					</ul>
				</li>
				<li class="collapsible-trigger">
					<a href="pages/zubehoer.html">Zubehör</a>
				</li>
				<li class="collapsible-trigger">
					<a href="pages/fahrradvermietung.html">Fahrradvermietung</a>
					<ul class="collapsible hidden">
						<li>
							<a href="pages/testraeder-galerie.html">Galerie</a>
						</li>
					</ul>
				</li>
			</ul>
			<div id="sideinfo">
 				<h1>Öffnungszeiten</h1>
 				<table>
  					<tbody><tr>
    					<td class="left">Montag</td>
   					</tr>
   					<tr>
     					<td class="right">09.00 - 12.30 Uhr<br>
       					+ 14.30 - 18.00 Uhr</td>
  					</tr>
					  <tr>
    					<td class="left">Dienstag</td>
   					</tr>
   					<tr>
     					<td class="right">09.00 - 12.30 Uhr</td>
  					</tr>
					  <tr>
    					<td class="left">Mittwoch - Freitag</td>
   					</tr>
   					<tr>
     					<td class="right">09.00 - 12.30 Uhr<br>
       					+ 14.30 - 18.00 Uhr</td>
  					</tr>
  					<tr>
    					<td class="left">Samstag &amp; Sonntag</td>
   					</tr>
   					<tr>
    					<td class="right">Geschlossen</td>
  					</tr></tbody>
            	</table>
 				<h1>Kontakt</h1>
 				<table>
  					<tbody><tr>
    					<td class="left">Telefon:</td>
   					</tr>
   					<tr>
     					<td class="right">(0 44 22) 13 94</td>
  					</tr>
                    <tr>
    					<td class="left">E-Mail:</td>
   					</tr>
   					<tr>
     					<td class="right">&#105;&#110;&#102;&#111;<!-- x --><span style="display:none;">&#97;&#116;</span>&#64;<!-- y --><br/>&#102;&#97;&#104;&#114;&#114;&#97;&#100;&#45;&#98;&#111;&#101;&#108;&#106;&#101;&#115;<!-- a --><span style="display:none;">&#100;&#111;&#116;</span>&#46;<!-- b -->&#100;&#101;</td>
  					</tr>
  					<tr>
    					<td class="left">Anschrift:</td>
   					</tr>
   					<tr>
     					<td class="right">Hauptstr. 32<br>
     					26452 Sande</td>
  					</tr></tbody>
          		</table>
			</div>
		</nav>

{{ content }}

		<div class="clear"></div>
</div>
<footer>
<ul class="menu"><li><a href="haftungsausschluss">Haftungsausschluss</a></li><li><a href="pages/datenschutz.html">Datenschutz</a></li><li><a href="impressum">Impressum</a></li></ul>        
        <div id="partner">
        	<p>Unsere Marken:</p>
        	<img src="images/partner/bosch.gif" />
        	<img src="images/partner/bm.gif" />
		    <img src="images/partner/conway.gif" />
		    <img src="images/partner/croozer.gif" />
		    <img src="images/partner/greens.gif" />
		    <img src="images/partner/kf.gif" />
		    <img src="images/partner/kreidler.gif" />
		    <img src="images/partner/prince.gif" />
		    <img src="images/partner/puky.gif" />
		    <img src="images/partner/rabeneick.gif" />
		    <img src="images/partner/rheinfels.gif" />
		    <img src="images/partner/schwalbe.gif" />
		    <img src="images/partner/victoria.gif" />
        </div>
    </footer>

</body>
</html>